.root {
  max-width: $maxWidth;
  margin: 0 auto;
  &__sign-up {}
}

.sign-up {
  max-width: 800px;
  max-height: 600px;
  background-color: $backgroundSignUp;
  margin: 0 auto;
  &__container {
    max-width: 665px;
    max-height: 480px;
    padding: 60px 67px;
    display: grid;
    grid-template-columns: .2fr 1fr;
    @media screen and (max-width: 680px) {
      padding: 30px;
    }
    @media screen and (max-width: 610px) {
      grid-template-columns: 1fr;
      grid-template-rows: min-content max-content;
    }
  }
  &__left {
    max-width: 138px;
    max-height: 481px;
    background-color: $signUpLeftBackgroundColor;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 610px) {
      max-width: 100%;
    }
  }
  &__text {
    margin: 0;
    padding: 12px 0 50px 80px;
    font-family: $fontFamilyPTSans;
    font-weight: $fontWeight400;
    font-style: $fontStyleNormal;
    font-size: $fontSizeH1;
    line-height: $lineHeightH1;
    letter-spacing: $letterSpacingH1;
    color: $colorWhite;
    transform: rotate(-90deg);
    @media screen and (max-width: 610px) {
      padding: 15px;
      transform: rotate(0deg);
      font-size: $fontSizeH2;
      line-height: $lineHeightH2;
    }
  }
  &__right {
    max-width: 528px;
    height: 481px;
    background-color: $colorWhite;
    background-image: url(../img/SignUp.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    @media screen and (max-width: 610px) {
      max-width: 100%;
      height: 426px;
    }
    &--container {
      max-width: 485px;
      height: 409px;
      padding: 39px 22px 33px;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      position: relative;
      @media screen and (max-width: 610px) {
        padding: 15px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__title {
    margin: 0;
    font-size: $fontSizeH2;
    line-height: $lineHeightH2;
    letter-spacing: $letterSpacingH2;
    color: $colorBlack;
    font-family: $fontFamilyWorkSans;
    font-weight: $fontWeight600;
  }
  &__subtitle {
    margin: 0;
    font-family: $fontFamilyWorkSans;
    color: $colorBlack;
    font-size: $fontSizeMedium;
    line-height: $lineHeightMedium;
    font-weight: $fontWeight200;
    padding-bottom: 20px;
  }
  &__form {}
  &__input {}
  &__button {}
  &__birthday {
    display: flex;
    justify-content: space-between;
    max-width: 56px;
    margin-right: 10px;
  }
  &__month {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }
  &__year {
    display: flex;
    justify-content: space-between;
    max-width: 68px;
  }
  &__account {
    padding-top: 65px;
    position: absolute;
    bottom: 45px;
    left: 20px;
  }
}

.button {
  background: transparent;
  border: none;
  font-family: $fontFamilyPTSans;
  font-style: $fontStyleNormal;
  font-weight: $fontWeight400;
  font-size: $fontSizeButton;
  line-height: $lineHeightButton;
  color: $colorWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  &--nationality {}
  &--day {}
  &--month {}
  &--year {}
  &__img {}
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 13px;
  @media screen and (max-width: 545px) {
    display: flex;
    flex-wrap: wrap;
  }
  &__fieldset {}
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-self: flex-end;
  }
  &__submit {
    width: 154px;
    padding: 7px 26px 7px 25px;
    background-color: $formSubmitBackgroundColor;
    justify-self: flex-end;
    margin-top: 80px;
    grid-column: 2;
    @media screen and (max-width: 610px) {
      margin-top: 60px;
    }
  }
}

.fieldset {
  margin: 0;
  padding: 0;
  font-family: $fontFamilyWorkSans;
  font-size: $fontSizeUltraSmall;
  line-height: $lineHeightUltraSmall;
  color: $colorGray;
  border: none;
  max-width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $fieldsetBorderColor;
  @media screen and (max-width: 545px) {
    max-width: 435px;
    width: 100%;
  }
  &--first-name {}
  &--last-name {}
  &--nationality {}
  &--email {}
  &--birthday {}
  &--gender {
    border-bottom: none;
    justify-content: start;
    column-gap: 19px;
  }
  &--password {}
  &--confirm-password {}
}

.input {
  border: none;
  outline: none;
  color: $colorBlack;
  font-size: $fontSizeMedium;
  line-height: $lineHeightMedium;
  background: transparent;
  padding: 5px 0 7px;
  margin: 0;
  width: 100%;
  &::placeholder {
    @media screen and (max-width: 450px) {
      font-size: 12px;
    }
  }
  &--first-name {}
  &--last-name {}
  &--nationality {}
  &--email {}
  &--birthday {}
  &--month {}
  &--year {}
  &--gender {}
  &--password {}
  &--confirm-password {}
}

.img {}

.custom-radio {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin: 0;
  padding: 0;
  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    &:checked+.custom-radio__span {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(../img/circleRadio.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 6px;
    }
    &:disabled+.custom-radio__span {
      border: 1px solid $colorGray;
    }
    &:focus+.custom-radio__span {
      box-shadow: 0 0 5px $colorBlue;
    }
  }
  &__span {
    width: 12px;
    height: 12px;
    border: 0.7px solid $colorBlue;
    border-radius: 50%;
  }
  &__text {
    margin: 0;
    font-family: $fontFamilyWorkSans;
    color: $colorBlack;
    font-size: $fontSizeMedium;
    line-height: $lineHeightMedium;
  }
}

.have-account {
  display: flex;
  &__text {
    margin: 0;
    color: $colorUltraBlack;
    font-weight: $fontWeight200;
    font-size: $fontSizeSmall;
    line-height: $lineHeightSmall;
    padding-right: 5px;
  }
  &__link {
    font-weight: $fontWeight200;
    font-size: $fontSizeSmall;
    line-height: $lineHeightSmall;
    color: $colorBlue;
  }
}