@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;500;600&display=swap");
svg {
  fill: none;
  stroke: #5a61ed;
  stroke-width: 1;
}

.img__doneMark {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  padding-left: 5px;
}
.img__doneMark--visibly {
  opacity: 1;
  visibility: visible;
}

.root {
  max-width: 1280px;
  margin: 0 auto;
}
.root--hidden {
  overflow: hidden;
}

.sign-up {
  max-width: 800px;
  background-color: #f4f5fc;
  margin: 0 auto;
}
.sign-up__container {
  max-width: 665px;
  padding: 60px 67px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}
@media screen and (max-width: 680px) {
  .sign-up__container {
    padding: 30px;
  }
}
@media screen and (max-width: 610px) {
  .sign-up__container {
    grid-template-columns: 1fr;
    grid-template-rows: min-content max-content;
  }
}
@media screen and (max-width: 430px) {
  .sign-up__container {
    padding: 10px;
  }
}
.sign-up__left {
  max-width: 138px;
  background-color: #5a61ed;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 610px) {
  .sign-up__left {
    max-width: 100%;
  }
}
.sign-up__text {
  margin: 0;
  padding: 12px 0 50px 80px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 49px;
  line-height: 63px;
  letter-spacing: 0.5px;
  color: #fff;
  transform: rotate(-90deg);
}
@media screen and (max-width: 610px) {
  .sign-up__text {
    padding: 15px;
    transform: rotate(0deg);
    font-size: 22px;
    line-height: 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 270px;
  }
}
.sign-up__right {
  max-width: 528px;
  min-height: 480px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 610px) {
  .sign-up__right {
    max-width: 100%;
    min-height: 100%;
  }
}
.sign-up__right--container {
  max-width: 485px;
  padding: 39px 22px 33px;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
}
@media screen and (max-width: 610px) {
  .sign-up__right--container {
    padding: 15px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.sign-up__title {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: -0.46px;
  color: #111;
  font-family: "WorkSans", sans-serif;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}
@media screen and (max-width: 780px) {
  .sign-up__title {
    max-width: 400px;
  }
}
@media screen and (max-width: 560px) {
  .sign-up__title {
    max-width: 270px;
    white-space: normal;
  }
}
.sign-up__subtitle {
  margin: 0;
  font-family: "WorkSans", sans-serif;
  color: #111;
  font-size: 15px;
  line-height: 16px;
  font-weight: 200;
  padding-bottom: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}
@media screen and (max-width: 780px) {
  .sign-up__subtitle {
    max-width: 400px;
  }
}
@media screen and (max-width: 560px) {
  .sign-up__subtitle {
    max-width: 270px;
    white-space: normal;
  }
}
.sign-up__birthday {
  display: flex;
  justify-content: space-between;
}
.sign-up__month {
  display: flex;
  justify-content: space-between;
}
.sign-up__year {
  display: flex;
  justify-content: space-between;
}
.sign-up__account {
  padding-top: 65px;
  position: absolute;
  bottom: 43px;
  left: 20px;
}
@media screen and (max-width: 610px) {
  .sign-up__account {
    bottom: 25px;
  }
}
@media screen and (max-width: 390px) {
  .sign-up__account {
    position: static;
    padding: 0 0 15px;
    justify-content: center;
  }
}

.button {
  background: transparent;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.button--inactive {
  color: #b8b8b8;
  background: #ededed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button__shake {
  animation: shake 0.5s linear 2;
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px 13px;
  z-index: 1;
}
@media screen and (max-width: 545px) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 390px) {
  .form {
    justify-content: center;
  }
}
.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-self: flex-end;
}
.form__submit {
  width: 154px;
  padding: 7px 26px 7px 25px;
  background-color: #5a61ed;
  justify-self: flex-end;
  margin-top: 84px;
  grid-column: 2;
}
@media screen and (max-width: 610px) {
  .form__submit {
    margin-top: 60px;
  }
}
@media screen and (max-width: 545px) {
  .form__submit {
    margin-top: 20px;
  }
}
.form__input-error {
  font-size: 12px;
  color: #ff5656;
  transition: 0.3s;
}
.form__input-error-active {
  opacity: 1;
}
.form__password-wrong {
  font-size: 12px;
  color: #ff5656;
}
.form__send {
  display: flex;
  align-items: center;
}

.input {
  border: 1px solid transparent;
  outline: none;
  color: #111;
  font-size: 14px;
  line-height: 16px;
  background: transparent;
  padding: 5px 0 7px;
  margin: 0;
  width: 100%;
  position: relative;
}
.input::placeholder {
  font-size: 15px;
}
.input--error {
  border-bottom: 1px solid #ff5656;
}

.fieldset {
  margin: 0;
  padding: 0;
  font-family: "WorkSans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #7c7c7c;
  border: none;
  max-width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}
@media screen and (max-width: 545px) {
  .fieldset {
    max-width: 453px;
    width: 100%;
  }
}
.fieldset--error {
  border-bottom: 1px solid #ff5656;
}
.fieldset--birthday-container {
  display: grid;
  grid-template-columns: 55px 1fr 70px;
  column-gap: 10px;
  width: 100%;
  padding: 4px 0;
}
.fieldset--gender {
  border-bottom: none;
  justify-content: start;
  column-gap: 19px;
}

.custom-radio {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin: 0;
  cursor: pointer;
}
@media screen and (max-width: 545px) {
  .custom-radio {
    padding-top: 4px;
  }
}
.custom-radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.custom-radio__input:checked + .custom-radio__span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/circleRadio.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 6px;
}
.custom-radio__input:disabled + .custom-radio__span {
  border: 1px solid #7c7c7c;
}
.custom-radio__input:focus + .custom-radio__span {
  box-shadow: 0 0 5px #5a61ed;
}
.custom-radio__span {
  width: 12px;
  height: 12px;
  border: 0.7px solid #5a61ed;
  border-radius: 50%;
}
.custom-radio__text {
  margin: 0;
  font-family: "WorkSans", sans-serif;
  color: #111;
  font-size: 14px;
  line-height: 16px;
}

.have-account {
  display: flex;
}
.have-account__text {
  margin: 0;
  color: #000;
  font-weight: 200;
  font-size: 15px;
  line-height: 15px;
  padding-right: 5px;
  z-index: 1;
}
.have-account__link {
  font-weight: 200;
  font-size: 14px;
  line-height: 15px;
  color: #5a61ed;
  z-index: 1;
}

.select {
  width: 100%;
  border: none;
  font-family: "WorkSans", sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  background-image: url(../img/down.svg);
  background-repeat: no-repeat;
  background-position: right;
  cursor: pointer;
}

.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.pop-up--opened {
  visibility: visible;
  opacity: 1;
}
.pop-up__overlay {
  max-width: 120px;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.pop-up__header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.pop-up__title {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
}
.pop-up__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}
.pop-up__close {
  position: absolute;
  right: -20px;
  top: -20px;
  background-image: url(../img/Close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  border: none;
}
.pop-up__close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.sign-up__vivus {
  width: 438px;
  height: 363px;
  position: absolute;
  right: -67px;
  bottom: -7px;
  z-index: 0;
}
.sign-up__vivus--hidden {
  visibility: hidden;
  opacity: 0;
}
